.qux-color-figma {
  border-radius: $border-radius-small;
  position: relative;
  margin: 1px 0 1px 0;

  &:focus {
      border: 1px solid $blue;
      outline: 1px solid $blue;
      outline-offset: -2px;
  }

  &:hover .carret {
    opacity: 0.3;
    right: -5px;
    transition: all 0.2s;
  }

  .carret {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top:0px;
    right: 0px;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m15%2016.7071-3-3%20.7071-.7071%202.6465%202.6464%202.6464-2.6464.7071.7071-3%203-.3535.3536z%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
  }



  .qux-color-figma-inputs {
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;


    .qux-color-figma-button-values {
      padding: $size-xxsmall;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-right: 1px solid transparent;
    }

    &:hover {
      border-color: $black1;

      .qux-color-figma-button-values {
        border-color: $black1;
      }
    }
  }


  .qux-color-figma-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    .qux-color-button-label {
      font-size: $font-size-small;
      letter-spacing: $font-letter-spacing-pos-xsmall;
      line-height: $line-height;
      color: $black8-opaque;
      padding: 0 $size-xxxsmall 0 $size-xxsmall;
    }

    input {
      height: 16px;
      font-size: $font-size-small;
      letter-spacing: $font-letter-spacing-pos-xsmall;
      line-height: $line-height;
      color: $black8-opaque;
      padding: $size-xxxsmall;
      border:none;

      &:focus {
        outline: none;
      }

      &.qux-color-figma-button-hex {
        width: 50px;
      }

      &.qux-color-figma-button-alpha {
        width: 50px;
      }
    }

    .qux-color-figma-button-label{
      font-size: $font-size-small;
      letter-spacing: $font-letter-spacing-pos-xsmall;
      line-height: $line-height;
      color: $black3;
      padding: 0 $size-xxxsmall 0 $size-xxsmall;
    }

    .qux-color-figma-button-box {
      display: inline-block;
      height: 16px;
      width: 16px;
      border-radius: $border-radius-small;
      border: 1px solid $black1;

      &:hover {
        border-color: $black3;
      }

    }
  }
}
